* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

body {
  background: white;
  font-family: "Montserrat", sans-serif; }

section.main-sec {
  width: 100%;
  height: 100vh;
  position: relative; }
  section.main-sec img {
    width: 30%;
    height: 85vh;
    position: absolute;
    top: 25px;
    left: 23%;
    box-shadow: 10px 10px 55px rgba(0, 0, 0, 0.3); }
  section.main-sec .left-sec {
    height: 100%;
    width: 35%;
    float: left;
    background: #05c46b;
    color: #f3f3f3; }
    section.main-sec .left-sec h1 {
      margin: 40px 9%;
      letter-spacing: 0.2em;
      font-weight: 700; }
    section.main-sec .left-sec .info-box {
      margin-top: 400px;
      margin-left: 9%; }
      section.main-sec .left-sec .info-box .info {
        margin-bottom: 10px;
        font-weight: 700;
        letter-spacing: 1.1px; }
      section.main-sec .left-sec .info-box .normal {
        margin-bottom: 15px; }
      section.main-sec .left-sec .info-box .socials {
        display: grid;
        margin-top: 15px;
        grid-template-columns: repeat(4, 1fr);
        justify-items: start;
        width: 50%; }
        section.main-sec .left-sec .info-box .socials .soc-icon {
          font-size: 2rem; }
  section.main-sec .right-sec {
    float: right;
    position: relative; }
    section.main-sec .right-sec .hamburger {
      font-size: 2rem;
      position: absolute;
      top: 30px;
      right: 5%; }
    section.main-sec .right-sec .right-area {
      width: 60%;
      height: 320px;
      margin-top: 220px;
      margin-left: 24%; }
      section.main-sec .right-sec .right-area h1 {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        color: #05c46b;
        margin-bottom: 20px; }
        section.main-sec .right-sec .right-area h1 span {
          display: block;
          color: #111; }
      section.main-sec .right-sec .right-area h3 {
        letter-spacing: 1.3px;
        margin-bottom: 15px; }
      section.main-sec .right-sec .right-area p {
        margin-bottom: 50px; }
      section.main-sec .right-sec .right-area .btn {
        padding: 15px 45px;
        border-radius: 100px;
        letter-spacing: 1.2px;
        font-size: 0.9rem;
        position: relative;
        background: inherit; }
      section.main-sec .right-sec .right-area .port-btn::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100px;
        width: 100%;
        height: 100%;
        background: inherit;
        z-index: -1;
        transition: all 0.3s; }
      section.main-sec .right-sec .right-area .port-btn:hover::after {
        transform: scale(1.3);
        border: 0; }
      section.main-sec .right-sec .right-area .port-btn {
        background: #05c46b;
        margin-right: 20%;
        color: #f3f3f3; }
      section.main-sec .right-sec .right-area .resume-btn {
        border: 2px solid #333;
        background: #f4f4f4;
        transition: all 0.3s; }
      section.main-sec .right-sec .right-area .resume-btn:hover {
        background: #333;
        color: #f4f4f4; }

/*# sourceMappingURL=demo.css.map */
